<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Scan Results For {{ url }}</title>
	</head>

	<body>
		<h1>Scan Results For {{ url }}</h1>

		{{#each scans}}
			<section>
				<h2>{{ url }}</h2>

				<table>
					<thead>
						<tr>
							<th>Impact</th>
							<th>Rule Description</th>
							<th>Violation help URL</th>
							<th>Violation Tag[s]</th>
							<th>Help Text</th>
							<th>HTML Node[s]</th>
						</tr>
					</thead>

					<tbody>
						{{#each violations}}
							<tr>
								<td>
									{{ impact }}
								</td>
								<td>
									{{ description }}
								</td>
								<td>
									<a href="{{ help_url }}">{{ help_url }}</a>
								</td>
								<td>
									<ul>
										{{#each tags }}
											<li>{{ this }}</li>
										{{/each}}
									</ul>
								</td>
								<td>
									{{ help }}
								</td>
								<td>
									<ul>
										{{#each nodes }}
											<li>{{ html }}</li>
										{{/each}}
									</ul>
								</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			</section>
		{{/each}}

	</body>
</html>
